<div class="toolbar" role="banner">
  <form [formGroup]="group">
    <div class="form-control">
      <label for="first">First Name</label>
      <input id="first" formControlName="firstName"/>
      <p *ngIf="firstName.invalid && firstName.touched">Field is required</p>
    </div>
    <div class="form-control">
      <label for="state">State</label>
      <select id="state" (change)="onChange($event)">
        <option disabled selected>Select</option>
        <option *ngFor="let state of states">{{state}}</option>
      </select>
    </div>
  </form>
</div>
